body {
  margin: 0;
  font-family: Inter, sans-serif;
}

section {
  height: 550px;
  width: 550px;
  margin: 10% auto;
}

/* Start page */

section.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid gold;
}

.game-title {
  font-family: Karla, sans-serif;
}

/* Quiz Page */

.quiz-page {
  border: 5px solid gold;
}

.possible-answers {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
